@import url('https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.css');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Typography defaults */
h1 {
  @apply text-4xl font-bold tracking-tight;
}

h2 {
  @apply text-3xl font-semibold tracking-tight;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-medium;
}

h5 {
  @apply text-lg font-medium;
}

h6 {
  @apply text-base font-medium;
}

p {
  @apply text-base leading-relaxed;
}